<div class="bs-docs-sidebar">
<ul class="nav bs-docs-sidenav">
<h3 class="bs-docs-sidenav-heading"><a href="/">Design Patterns for Web-Developer</a></h3>
<li><a href="#">..</a>
<ul class="nav">
<li><a href="#cover">Cover</a></li>
<li><a href="#preface">Preface</a></li>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#what-is-a-design-pattern-">What Is a Design Pattern?</a></li>
<li><a href="#why-object-oriented-programming-">Why object-oriented programming?</a></li>
</ul><li><a href="#">Object Creational</a>
<ul class="nav">
<li><a href="#abstract-factory">Abstract Factory</a></li>
<li><a href="#builder">Builder</a></li>
<li><a href="#prototype">Prototype</a></li>
<li><a href="#singleton">Singleton</a></li>
</ul><li><a href="#">Object Structural</a>
<ul class="nav">
<li><a href="#adapter">Adapter</a></li>
<li><a href="#bridge">Bridge</a></li>
<li><a href="#composite">Composite</a></li>
<li><a href="#decorator">Decorator</a></li>
<li><a href="#flyweight">Flyweight</a></li>
</ul></ul>
</div>
