<div class="bs-docs-sidebar">
<ul class="nav bs-docs-sidenav">
<h3 class="bs-docs-sidenav-heading"><a href="/">Design Patterns for Web-Developer</a></h3>
<li><a href="#">Object Creational</a>
<ul class="nav">
<li><a href="#object-creational-abstract-factory">Abstract Factory</a></li>
<li><a href="#object-creational-builder">Builder</a></li>
<li><a href="#object-creational-prototype">Prototype</a></li>
<li><a href="#object-creational-singleton">Singleton</a></li>
</ul><li><a href="#">Object Structural</a>
<ul class="nav">
<li><a href="#object-structural-bridge">Bridge</a></li>
<li><a href="#object-structural-decorator">Decorator</a></li>
<li><a href="#object-structural-flyweight">Flyweight</a></li>
</ul></ul>
</div>
